/* Fullscreen container for loading state */
.loadingContainer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999; /* Ensure this is higher than the header's z-index */
}

/* Spinner styling */
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--primary-red);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

/* Spinner animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading text styling */
.loadingText {
  font-size: 1.2rem;
  color: #333;
  font-family: "BespokeStencil-LightItalic";
}
